:root {
  /*------------Цвет шрифта----------------*/
  --primary-text-color: #757575;
  --black-text-color: #000000;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --select-color: #2196f3;
  --title-text-color: #212121;
  --white-text-color: rgba(255, 255, 255, 1);
  --accent-color: #188ce8;

  /*----- Цвет фона, кнопок------*/
  --header-border-line: #ececec;
  --primary-bgc: rgba(255, 255, 255, 1);
  --secondary-bgc: #2f303a;
  --background-btn: #f5f4fa;
  --feauters-bgc: #f5f5f5;
  --background-project-list: #eeeeee;
}

body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*-----------------HEADER-------------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}
.header {
  border-bottom: 1px solid var(--header-border-line);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black-text-color);
}
.blue-logo {
  color: var(--select-color);
}
.list {
  list-style: none;
}
.header-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.header-link:hover,
.header-link:focus,
.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--select-color);
}
.header-link.current {
  color: var(--select-color);
  text-decoration: none;
}

.contacts-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

/*---------------------------HERO-------------------*/
.hero {
  background: var(--secondary-bgc);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  color: var(--white-text-color);
  background: var(--select-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
}
.portfolio-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  color: var(--title-text-color);
  background-color: var(--background-btn);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-text-color);
  background: var(--select-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.primary {
  background: var(--select-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-list {
  background: var(--primary-bgc);
  border: 1px solid var(--background-project-list);
  width: 370px;
  box-sizing: border-box;
}
.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/*-----------------------FEAUTERS----------------*/
.feauters {
  background: var(--feauters-bgc);
}
.feauters-list {
  width: 1170px;
  justify-content: space-between;
}
.feauter-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.feauter-after-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*-----------------------ACTIVITY----------------*/
.activity {
  font-size: large;
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/*------------------------TEAM---------------------*/
.team {
  background: var(--background-team);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/*-----------------------FOOTER--------------------*/
.footer {
  background-color: var(--secondary-bgc);
}

.logo-text {
  color: var(--white-text-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--select-color);
  text-decoration: none;
}

.link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--white-text-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--select-color);
}

.contact-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--select-color);
}
